/*style*/

body {
    margin: 0;
    font-family: "Pacifico", cursive;
    background: linear-gradient(to bottom right, #7b4397, #dc2438);
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    background: rgba(255,255,255, 0.15);
    box-shadow: 0 8px 32px rgba(0,0,0,0.40);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 350px;
    animation: fadeIn 0.9s ease-in-out;
    columns: #fff;
}

/*Header*/

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    text-decoration: uppercase;
    color: #fffccc;

}

/*password box*/
.password-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}


.password-input {
    padding: 8px;
    flex: 1;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: #333;
    background: rgba(244,255 ,255, 0.8);
}

.copy-btn {
    background: linear-gradient(to bottom right, #dc2430, #7b4397);
    border: none;
    border-radius: 6px;
    padding: 8px 15px;
    color: whitesmoke;
    font-size: 0.9rem;
    font-weight:900;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-left: 8px;
}

.copy-btn:hover {
    background: linear-gradient(to bottom right #7b4397, #dc2430);
    transform: scale(1.05);
}

/*controls*/

.controls {
    text-align: left;
    margin-top: 15px;
    font-size: 1rem;
}

.slider input {
    width: 100%;
    margin-bottom: 8px;
    appearance: none;
    -webkit-appearance: none;
    background: #7b4397;
    height: 3px;
    border-radius: 3px;
}

/*passwprd strength line*/


.strength {
    margin: 15px 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.4s ease;
}

.strength.strong {
    background-color: #4caf60;
    color: white;
}

/* checkbox style*/

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;

}

.checkbox-group input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #7b4397;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
}

.checkbox-group input[type="checkbox"]:checked::after {
    content: "🤪";
    font-size: 14px;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.checkbox-group input[type="checkbox"]:hover {
    background: #8f8181;
    border-color: #ff7f7f;
}
